.container{
    position: relative;
    top: 30px;
    bottom: 60px;
}
nav.footer{
    background-color: white;
    padding: 6px 0;
    
    position: fixed;
    width: 100%;
    bottom: 0;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
li>a{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}